.about_main {
    background: linear-gradient(to left, rgb(233, 231, 231), darkgray);
    height: 850px;
    width: 100%;
}


.about_main h4 {
    padding-top: 120px;
    font-family: "Roboto", sans-serif;
    color: rgb(29, 24, 24);
    font-size: 30px;
    text-shadow: 3px 3px 2px beige;
    text-align: center;

}

.about_main h5 {
    padding-top: 70px;
    font-family: "Roboto", sans-serif;
    color: rgb(29, 24, 24);
    font-size: 30px;
    text-shadow: 3px 3px 2px beige;
    text-align: center;

}

.about_main p {
    padding-top: 30px;
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
}

.about_down {
    padding: 40px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 50px;
}

.about_down img {
    margin-left: 40%;
    height: 30px;
}

.about_down h5 {
    font-family: "Roboto", sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 500;
    padding-top: 15px;
    text-align: center;
}


/* responsive part start */

@media(max-width:575px) {

    .about_main{
        height: 1160px;
    }

    .about_main h4 {
        padding-top: 70px;
    
    }

    .about_main p {
       padding: 10px 5px 0 5px;
    }

    .about_main h5 {
        padding-top: 20px;  
    }

    .about_down img {
        margin-left: 45%;
        height: 20px;
    }
    .about_down {
        padding: 10px;
        margin-top: 20px;
    }
    .about_down h5 {
        padding-top: 5px;
    }
    
}

/* responsive part end */